<section id="subscribe_section" class="subscribe section">
    <div class="subscribe__bg">
        <div class="subscribe__container container">
            <h2 class="section__title subscribe__title">Déjanos tu inquietud <br> Te respondemos de inmediato</h2>
            <p class="subscribe__description">
                Daremos solucion a tus peticiones
            </p>

            <form id="formulario" (ngSubmit)="sendEmail()" [formGroup]="formEmail" class="subscribe__form"
                method="POST">

                <input type="text" placeholder="Nombre Completo - Full Name" class="subscribe__input" name="full_name"
                    id="full_name" formControlName="full_name" required>
                <small
                    *ngIf="formEmail.controls['full_name'].errors?.['required'] && formEmail.controls['full_name'].touched"
                    class="p-error block" style="color: red;">full name is required.</small>
                <hr class="hr">

                <input type="email" name="email" id="email" placeholder="Email" class="subscribe__input"
                    formControlName="email" required>
                <small *ngIf="formEmail.controls['email'].errors?.['required'] && formEmail.controls['email'].touched"
                    class="p-error block" style="color: red;">email is required.</small>
                <hr class="hr">
                <br>

                <textarea name="message" id="message" class="form_input--message" cols="30" rows="10"
                    placeholder="Escribe tu mensaje" required formControlName="message"></textarea>
                <small
                    *ngIf="formEmail.controls['message'].errors?.['required'] && formEmail.controls['message'].touched"
                    class="p-error block" style="color: red;">message is required.</small>
                <hr class="hr">


                <div class="container-button-enviar">
                    <button class="button" type="submit">
                        Enviar
                    </button>
                    <input type="reset" value="Borrar" class="button-clear-content">
                </div>
            </form>
        </div>
    </div>
    <br><br><br><br>


<div class="contenedor-formulario">
    <h1 class="formulario-h1">Contactanos</h1>
    <div class="contenido-contactanos">
        
        <div class="formulario">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, illum?</p>
            <br>
            <form id="formulario" (ngSubmit)="sendEmail()" [formGroup]="formEmail" method="POST" class="form">

                <input type="text" placeholder="Nombre Completo" class="nombre" name="full_name"  id="full_name" formControlName="full_name" required>
                <small
                    *ngIf="formEmail.controls['full_name'].errors?.['required'] && formEmail.controls['full_name'].touched"
                    class="p-error block" style="color: red;">Ingresa tu nombre</small>
                    
                <input type="text" placeholder="Numero Telefonico" class="nombre" name="full_name"  id="full_name" formControlName="full_name" required  maxlength="10">
                <small
                    *ngIf="formEmail.controls['full_name'].errors?.['required'] && formEmail.controls['full_name'].touched"
                    class="p-error block" style="color: red;">Ingresa tu nombre</small>
                

                <input type="email" name="email" id="email" placeholder="Correo Electronico" class="email" formControlName="email" required>
                <small *ngIf="formEmail.controls['email'].errors?.['required'] && formEmail.controls['email'].touched"
                    class="p-error block" style="color: red;">Ingresa tu Email</small>
                
             

                <textarea name="message" id="message" class="form_input--message" cols="30" rows="10"
                    placeholder="Escribe tu mensaje" required formControlName="message" ></textarea>
                <small
                    *ngIf="formEmail.controls['message'].errors?.['required'] && formEmail.controls['message'].touched"
                    class="p-error block" style="color: red;">Ingresa tu solicitud</small>
                


                <div class="container-button-enviar" style="margin-top: 20px;">
                    <button class="button" type="submit">
                        Enviar
                    </button>
                    <input type="reset" value="Borrar" class="button-clear-content">
                </div>
            </form>
        </div>




        <div class="info">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, nemo.</p>
            <h4>More Info</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Baker Street</li>
                <li><i class="fas fa-phone"></i> (111) 111 111 111</li>
                <li><i class="fas fa-envelope-open-text"></i> contact@website.com</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident ipsam necessitatibus repellendus?</p>
            <p>Company.com</p>
        </div>
    </div>
</div>




    <br><br><br><br>
    <div class="content-formulario">

        <h1 class="logo-formulario">Contact <span>Us</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3 class="contact-form-h3">Contact us</h3>
                <form action="">
                    <p class="contact-form-p">
                        <label>FullName</label>
                        <input type="text" name="fullname" class="contact-form-input">
                    </p>
                    <p>
                        <label>Email Adress</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Phone Number</label>
                        <input type="tel" name="phone">
                    </p>
                    <p>
                        <label>Affair</label>
                        <input type="text" name="affair">
                    </p>
                    <p class="block">
                       <label>Message</label> 
                        <textarea name="message" rows="3"></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Send
                        </button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>More Info</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Baker Street</li>
                    <li><i class="fa-brands fa-whatsapp"></i> (111) 111 111 111</li>
                    <li><i class="fas fa-envelope-open-text"></i> contact@website.com</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident ipsam necessitatibus repellendus?</p>
                <p>Company.com</p>
            </div>
        </div>

    </div>


</section>