<div *ngIf="site">
    
    <br><br><br><br>
    <div
        style="width: auto; margin: 0 auto; text-align: center; margin-top: 20px; font-size: 30px;">
        <h2>{{ site.name }}</h2>

    </div>

    <br><br>
    <hr style="max-width: 1024px; background-color: #14505C; margin: auto;"> <!--linea-->

    <div class="container">
        <div class="image">
            <div class="place__container container grid">
                <div class="place__card" *ngFor="let image of site.site_images">
                    <img src="{{ image.image }}" alt="" class="place__img">
                </div>
            </div>
        </div>
        
        <div class="text" style="text-align: justify; margin-top: 4em;">
            <h4>{{ site.description }}</h4>
            <li>
                <h2 style="font-size: 15px;"><strong style="font-size: 18px; text-align: left; padding-right: 5px;">Calificacion:</strong>  <i *ngFor="let item of getNumberRange(site.quality)" class="ri-star-line place__rating-icon"></i>
                </h2>
                
                   
            </li>
            <ul style="margin-top: 2em;">
                <li>
                    <h2 style="font-size: 15px;"><strong style="font-size: 18px; text-align: left; padding-right: 46px">Precio:</strong> {{ site.price == 0 ? 'Ingreso gratuito' : site.price | currency }}</h2>
                </li>

                <li>
                    <h2 style="font-size: 15px;"><strong style="font-size: 18px; text-align: left;  padding-right: 19px;">Dirección:</strong> {{ site.address }}</h2>
                </li>
            </ul>


            <div class="social-section">
                <h2 style="font-size: 15px; text-align: left;"><strong style="font-size: 18px; text-align: left;  padding-right: 40px;">Redes:</strong>
                    <a href="{{ social.link }}" class="social-icon" *ngFor="let social of site.social_networks"  target="_blank">
                    <i [ngClass]="getClass(social.type_social_network)"></i>
                    </a>
                </h2>
                
                
            </div>
        </div>
    </div>
</div>


<br><br>
<hr style="max-width: 1024px; background-color: #14505C; margin: auto;"> <!--linea-->
<h3 style="font-size: 30px; width: 50%; margin: 0 auto; display: flex; align-items: center; justify-content: center; margin-top: 30px;">Comentarios</h3>
<br><br>

<div style="width: 60%; display: block; margin: 0 auto; align-items: center; justify-content: center; margin-top: 30px;"
    *ngIf="site">

    <a [routerLink]="['/discover/comment/sites/', site.id]" class="button" style="width: 100%; text-align: center;">Haz
        un comentario</a>
        
</div>


<div  style="width: 50%; margin: 0 auto; align-items: center; justify-content: center; margin-top: 30px;"
    *ngFor="let comment of comments" class="comentario">

    <div class="avatar">
        <img src="{{ comment.user?.avatar }}" alt="Avatar">
    </div>
    <div class="chat-card" >
        <div class="chat-content">
           
            <p><!--Puntuacion:--> <i *ngFor="let item of getNumberRange(comment.quality)" class="ri-star-line place__rating-icon"></i></p>
            <h4><!--Usuario:--> {{ comment.user?.name || 'Usuario desconocido' }}</h4>
            <p style="margin-top: 10px;"><!--Mensaje:--> {{ comment.name }}</p>
            <small style="margin-top: 10px;"><!--created at:--> {{ comment.created_at | date:"d-M-y hh:mm a"}}</small>
        </div>
    </div>
</div>
