





<div class="contenUserComment" style="margin-top: 200px; margin-bottom: 200px;">
    
    <div class="infoUserComment">
         <h1>Info User</h1>
         <!--
            avatar {user.avatar}
            avatar {user.email}
            avatar {user.nationality}
            avatar {user.phone}
         -->
    </div>




    <div class="infoUserSitesComments">
        <h1>Info User Sites Comment</h1>
        <div class="sitesComment">
            <h3>sites anh comments</h3>
            
            <!--
            avatar {user.comment.site}
            <a href="">avatar {user.site.name}</a>
            
            avatar {user.comment.quality}
         -->
        </div>
    </div>
    
    
</div>







