
<div *ngIf="sitesCategory.length > 0" class="place__container container ">

    <!--==================== PLACES CARD 1 ====================-->
    <div *ngFor="let cat of sitesCategory">
        <div style="display: flex;  align-items: center; margin: 3px; margin-top: 30px;">
            <a [routerLink]="['/categoria/' + cat.id]"><h1> {{ cat.name }}  </h1></a>
            <a [routerLink]="['/categoria/' + cat.id]" style="margin-top: 10px; margin-left: 9px; text-decoration: none; color: #11414B; cursor: pointer;">Ver Más</a>
        </div>
        

        

        <div style="display: flex;" >
            <div  class="place__card "  *ngFor="let site of cat.sites">
                <img src="{{ site.image }}" alt="" class="place__img">
    
                <div class="place__content">
                    <span class="place__rating">
                        <i *ngFor="let item of getNumberRange(site.quality)" class="ri-star-line place__rating-icon"></i>
                    </span>
    
                    <div class="place__data" >
                        <a [routerLink]="['/discover/comments/show/', site.id]">
                            <h3 class="place__title">{{ site.name }}</h3>
                        </a>
                        <span class="place__subtitle">{{ site.location }}</span>
                        <span *ngIf="site.price >0" class="place__price" >{{ site.price | currency }}</span>
                        <span *ngIf="site.price ==0" class="place__price" >Gratis</span>
    
                    </div>
                </div>
                <a [routerLink]="['/categoria/' + cat.id]">
                    <button class="button button--flex place__button">
                        <i class="ri-chat-forward-line"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>